@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  
* {
	font-family: 'Avenir Light', 'Montserrat', sans-serif;
	
	font-size: 20px;
}


/* MENU*/
.nav {
	background-color:#2f2f2e; 
	height: 77px;
	width: 100%;	
	display: flex;/*
	justify-content: space-around;
	align-items: center;*/
	position: relative;

}

.logo {
	height: 70px;
	width: 100px;
	margin-left: 5%;
}

.logo img {
	object-fit: cover;
}

.nav__ul {
	height: 70px;
	width: auto;
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	margin-left: 5%;
}

.nav__li {
	padding: 4px;
	color: #fff;
	margin: 0 20px;
	width: 115px;
	font-size: 18px;
	text-align: center;
	font-weight: 300;
}

/*
.asoc {
	background-color: #f4ce50;
	color: #fff;
	font-weight: 900;
	padding-bottom: 20px;
	padding-top: 16px;
	border-top: none;
	border-radius: 50px;
}
*/

.nav__li:hover > a {
	color: #f4ce50;
}

.nav__li:hover {
	color: #f4ce50;
	border-top: 4px solid #f4ce50;
}


.nav__li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;

}

.nav__li i {
	box-sizing: border-box;
	text-align: center;
	margin-right: 200px;
}


h4 {
	font-family: 'Avenir', 'Montserrat', sans-serif;
	font-size: 40px;
}

p {
	font-family: 'Avenir', Montserrat, sans-serif;
}

/* PORTADA */
.caja1 {
	border: 0;
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(la-olla-es-popular.png);
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	opacity: 1;
	filter:contrast(50%);
	filter:brightness(50%)
}



.caja1 img {
	height: 100%;
	width: 100%;
	object-fit:fill;
	
}

.caja1-t {
	display: block;
	width: 100%;
	height: 600px;
	z-index: 10;
	position: relative;
	top: 200px;
	margin-left: 50px;
}

.caja1-t h1 {
	color: #fff;
	font-size: 40px;
	margin: 0;
	top: -100px;
	width: 100%;
	font-family: 'Montserrat';
}

.caja1-t p {
	color: #fff;
	font-size: 30px;
	font-family: 'Montserrat';
}

.caja1-t button {
	background-color: #f4ce50; 
	border: none;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
	border-radius: 50px;
}

.caja1-t a {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}

.caja1-t button:hover {
	background-color: #FF6B66;
}


/* AYLLU TERRITORIO */

.caja2 {
	border: 0;
	background: #fff;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}


.c2-cajita1 {
	width: 752px;
	height: 384px;
	background: #edce68;
	display: block;
	color: #2F2F2E;
}

.c2-cajita1 h4 {
	font-size: 30px;
	text-align: center;
	margin-top: 5%;
	font-family: 'Montserrat';
	font-weight: 500;
}

.c2-cajita1 p {
	font-size: 18px;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	line-height: 1.8em;
}

.c2-cajita1 a {
	font-size: 18px;
	text-align: center;
	margin-left: 45%;
	line-height: 1.8em;
	text-decoration: none;
}

.c2-cajita2 {
	width: 442px;
	height: 384PX;
	background: #e3dcb6;
	color: #2F2F2E;
	display: block;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	
}

.c2-cajita2 p {
	font-size: 16px;
	line-height: 1.4em;
	text-align: center;
}

.separadorId {
	color: #e3dcb6;
	border-bottom: 1px solid #2F2F2E;

}

.queHacemo {
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 15px;
}



/* SEPARADOR */

.caja3 {
	border: 0;
	background: #fff;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.caja31 {
	border: 0;
	background: #e3dcb6;
	width: 1015px;
	height: 60px;
	display: flex;
	align-items: center;
	align-content: center;
}

.caja31 p {
	color: #000;
	font-size: 18px;
	text-align: center;
}



/* PROYECTOS */

.caja4 {
	border: 0;
	background: #fff;
	width: 100%;
	height: 1000px;
}

.caja4 h4 {
	margin: 20px;
	font-weight: 500;
}

.linea1 {
	width: 100%;
	height: 100px ;
	display: flex;
	justify-content: center;
	align-content: center;
}

.linea1 h4 {
	font-size: 35px;
}

.linea2 {
	width: 100%;
	height: 470px;
	display: flex;
	justify-content: center;
	perspective: 1000px;
	flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 306px;
    height: 420px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    /*border-radius: 20px;*/
}

.card__back{
    transform: rotateY(180deg);
    background: #edce68;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    /*border-radius: 20px;*/
}

.grey__card {
	width: 185px;
	height: 150px;
	background-color: grey;
	opacity: 0.9;
	margin-top: 60%;
	perspective: 1000px;
    transform-style: preserve-3d;
	display: flex;
	justify-items: center;
	align-items: center;
}

.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 30px;
    font-size: 12px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    /*border-radius: 10px;*/
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}

/*
.proy1{
	background-image: url(construccion.webp);
	background-size: cover;
	width: 306px;
	height: 420px;
	display: flex;
	justify-items: center;
	align-items: center;
}

.proy2{
	background-image: url(ollasgrandes.webp);
	background-size: cover;
	width: 306px;
	height: 420px;
	display: flex;
	justify-items: center;
	align-items: center;
}

.proy3{
	background-image: url(paisaje.webp);
	width: 306px;
	height: 420px;
	display: flex;
	justify-items: center;
	align-items: center;
}

.proy4{
	background-image: url(comedor.webp);
	width: 306px;
	height: 420px;
	display: flex;
	justify-items: center;
	align-items: center;
}

.proy5{
	background-image: url(paisaje2.webp);
	width: 306px;
	height: 420px;
	display: flex;
	justify-items: center;
	align-items: center;
}

.proy6{
	background-image: url(naranjas.webp);
	width: 306px;
	height: 420px;
	display: flex;
	justify-items: center;
	align-items: center;
}

.cajaproy {
	width: 184px;
	height: 100px;
	background-color: grey;
	opacity: 0.9;
	margin-top: 60%;
	margin-left: 20%;

}

.cajaproy h6 {
	font-size: 14px;
	color: #fff;
	font-family: sans-serif;
	opacity: 1;
	margin-top: 2%;
	margin-left: 2%;
	text-align: center;
}

.cajaproy p {
	font-size: 12px;
	color: #fff;
	font-family: sans-serif;
	opacity: 1;
	margin-top: 10%;
	margin-right: 2%;
	margin-left: 2%;
	
}
*/



/* SITUACION CORDOBA */

.caja5 {
	border: 0;
	background: #fff;
	width: 100%;
	height: 620px;
	
}

.linea15 {
	height: 140px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.linea15 h4 {
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

.lineaDatos {
	display: flex;
	justify-content: center;
	gap: 1%;
}

.dato {
	width: 250px;
	height: 285px ;
	background-color: #fff;
}

.titCirculo {
	display: flex;
	justify-content: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 17px;	
	color: rgb(142, 55, 44);
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.dato p {
	font-size: 16px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}

.circulo {
	background-color: #fff;
	height: 145px;
	width: 145px;
	border-radius: 100%;
	font-size: 45px;
	color: rgb(142, 55, 44);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	border: 5px solid rgb(142, 55, 44);
}

.caja5 img {
	margin-left: 13.737%;
}


/* FOOTER */

.foot {
	border: 0;
	background: #2f2f2e;
	width: 100%;
	height: 260px;
}

.tituloFoot {
	width: 100%;
	height: 60px;		
}


.contenedor-iconos {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lineaIconos {
	width: 350px;
	height: 50px;
	display: flex;
	justify-content: flex-start;
}

.contenedor-iconos a {
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}


/* PAGINA NOSOTRXS ------------------------------------------------------------------ */

.aylluConteiner {
	width: 100%;
	height: auto;
	background-color: #ebeae9;
	display: block;
}

.aylluPrincipal {
	width: 90%;
	height: 1300px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	background-color: #fff;
}

.aylluTitulo {
	width: 550px;
	height: 90px;
	font-family: sans-serif;
	font-size: 30px;
	color: #A38935;
	font-weight: bold;
	text-align: center;
	margin-left: 25%;
	padding-top: 10px;
	border-bottom: 1px solid rgba(40, 38, 38, 1) ;
}

.aylluEpigrafe {
	width: 700px;
	height: 120px;
	color: #2F2F2E;
	margin-left: 20%;
	margin-bottom: 25px;
	margin-top: 20px;
}

.aylluEpigrafe p {
	font-size: 17px;
	line-height: 1.8em;
	font-family: 'Montserrat';
	text-align: center;
}

.aylluFoto {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aylluNotaVideo {
	width: 300px;
	height: 190px;
	background-color: rgb(163, 137, 53);
	margin-left: 20px;
	display: flex;
	justify-items: center;
	align-items: center;
	padding: 20px;
}

.aylluNotaVideo p {
	font-size: 15px;
	line-height: 1.4em;
	font-family: sans-serif;
	text-align: center;
	color: #EAEAE8;
}

.aylluHyO {
	margin-left: 10%;
	height: 40px;
	width: 300px;
	background-color: #e3dcb6;
	margin-top: 5%;
	margin-bottom: 3%;
	padding-left: 10px;
	padding-top: 10px;
}

.aylluHyO h6{
	font-size: 22px;
	font-weight: 400;

}

.aylluListado {
	margin-left: 10%;
	width: 900px;
}

.itemListado {
	display: flex;
	height: 100px;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.c-circulito {
	width: 40px;
	height: 100%;
	margin-right: 1%;
	display: flex;
	align-items: center;
}

.circulito {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 2px solid #2F2F2E;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circulito p{
	font-size: 35px;
	color: #2F2F2E;
}

.aylluListado p{
	font-size: 18px;
	text-align: justify;
	color: #2F2F2E;
	line-height: 1.4em;
}

.aylluCarrusel {
	width: 90%;
	height: 400px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.container{
    width: 100%;
    max-width: 80%;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotazas{
    position: relative;
    width: 100%;
    height: 100%;
}

.foton{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.foton img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/*Movimiento a la izquierda*/
#item-2:checked ~ .fotazas #selector-1,
#item-1:checked ~ .fotazas #selector-6,
#item-6:checked ~ .fotazas #selector-5,
#item-5:checked ~ .fotazas #selector-4,
#item-4:checked ~ .fotazas #selector-3,
#item-3:checked ~ .fotazas #selector-2{
    transform: translateX(-40%) scale(0.8);
	filter: brightness(50%);
    z-index: 0;
}

#item-2:checked ~ .fotazas #selector-6,
#item-1:checked ~ .fotazas #selector-5,
#item-6:checked ~ .fotazas #selector-4,
#item-5:checked ~ .fotazas #selector-3,
#item-4:checked ~ .fotazas #selector-2,
#item-3:checked ~ .fotazas #selector-1{
    transform: translateX(-60%) scale(0.6);
    filter: brightness(20%);
    z-index: -1;
}

#item-2:checked ~ .fotazas #selector-5,
#item-1:checked ~ .fotazas #selector-4,
#item-6:checked ~ .fotazas #selector-3,
#item-5:checked ~ .fotazas #selector-2,
#item-4:checked ~ .fotazas #selector-1,
#item-3:checked ~ .fotazas #selector-6{
    transform: translateX(60%) scale(0.4);
    filter: brightness(10%);
    z-index: -2;
}

/* movimiento a la Derecha*/
#item-3:checked ~ .fotazas #selector-4,
#item-4:checked ~ .fotazas #selector-5,
#item-5:checked ~ .fotazas #selector-6,
#item-6:checked ~ .fotazas #selector-1,
#item-1:checked ~ .fotazas #selector-2,
#item-2:checked ~ .fotazas #selector-3{
    transform: translateX(40%) scale(0.8);
    filter: brightness(50%);
    z-index: 0;
}

#item-3:checked ~ .fotazas #selector-5,
#item-4:checked ~ .fotazas #selector-6,
#item-5:checked ~ .fotazas #selector-1,
#item-6:checked ~ .fotazas #selector-2,
#item-1:checked ~ .fotazas #selector-3,
#item-2:checked ~ .fotazas #selector-4{
    transform: translateX(60%) scale(0.6);
    filter: brightness(20%);
    z-index: -1;
}

#item-3:checked ~ .fotazas #selector-6,
#item-4:checked ~ .fotazas #selector-1,
#item-5:checked ~ .fotazas #selector-2,
#item-6:checked ~ .fotazas #selector-3,
#item-1:checked ~ .fotazas #selector-4,
#item-2:checked ~ .fotazas #selector-5{
    transform: translateX(-60%) scale(0.4);
    filter: brightness(10%);
    z-index: -2;
}

/*Sin movimiento*/
#item-1:checked ~ .fotazas #selector-1,
#item-2:checked ~ .fotazas #selector-2,
#item-3:checked ~ .fotazas #selector-3,
#item-4:checked ~ .fotazas #selector-4,
#item-5:checked ~ .fotazas #selector-5,
#item-6:checked ~ .fotazas #selector-6{
    transform: translateX(0) scale(1);
    z-index: 1;
}


.separadorNosotrxs {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	color: #fff;
}

.separadorNosotrxs p{
	border-bottom: 3px solid #2F2F2E;
}

.aylluDona {
	width: 90%;
	height: 400px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
	display: flex;
	text-align: center;
}

.aylluDonaText {
	margin-left: 18%;
	margin-top: 5%;
}

.aylluDona p {
	width: 290px;
	font-family: 'Montserrat';
	font-size: 20px;
	line-height: 1.4em;
}

#mano {
	margin-top: 20px;
	font-size: 20px;
	line-height: 1.3em;
}


.aylluDonaText button {
	background-color: #f4ce50; 
	border: none;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
	border-radius: 50px;
	text-decoration: none;
	
}

.aylluDonaFoto {
	margin-top: 5%;
	margin-left: 30px;
}

/* PAGINA PROYECTOS ------------------------------------------------------------------ */



/* PAGINA QUIERO SER PARTE ------------------------------------------------------------------ */

.bloqueSumate {
	background-color: grey;
	width: 100%;
	height: 100%;
}

.impacto {
	width: 90%;
	height: 500px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
}

.impacto h4 {
	font-size: 23px;
	text-align: center;
	line-height: 1.2em;
	color: #2F2F2E;
}

.sec1Circulos {
	width: 100%;
	height: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec1Circulos p {
	font-family: 'Montserrat';
	font-size: 16px;
	width: 235px;
	margin-left: 2%;
}

.sec2Circulos {
	width: 100%;
	height: 45%;
	display: flex;
	justify-content:center; 
	align-items: center;
}

.sec2Circulos p{
	font-family: 'Montserrat';
	font-size: 16px;
	width: 235px;
	margin-left: 2%;
}

.circuloImpacto {
	width: 130px;
	height: 130px;
	background-color: white;
	border: 4px solid rgb(244, 206, 80);
	border-radius: 100%;
	margin-left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.seccionDonacion {
	width: 90%;
	height: 500px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
	border: 4px solid black;
}

.secTituloDonar {
	width: 1200px;
	display: flex;
	justify-content: center;
}

.formDonacion{
	display: block;
}

.form-opciones{
	display: flex;
}

.col-datos{
	width: 45%;	
}

.col-datos p{
	margin-bottom: 1%;
	margin-left: 15%;
}

.col-datos input{
	margin-bottom: 5%;
	margin-left: 15%;
	border-radius: 15px;
}

.col-donaciones {
	display: flex;
	width: 45%;
}

.col-donaciones input{
	margin-top: 2%;
	margin-bottom: 10%;
	border-radius: 15px;
	width: 200px;
	height: 30px;
}

.col-donacion-unica{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.col-donacion-unica button {
	height: 30px;
	width: 90px;
	margin-top: 3%;
	margin-bottom: 3%;
	border: 3px solid rgb(244, 206, 80);
	border-radius: 20px;
	background-color: #fff;


}

.col-donacion-mensual{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.col-donacion-mensual button{
	height: 30px;
	width: 90px;
	margin-top: 3%;
	margin-bottom: 3%;
	border: 3px solid rgb(244, 206, 80);
	border-radius: 20px;
	background-color: #fff;


}

.boton-seccion-form{
	display: block;
	width: 100%;
}

.botonDonar {
	width: 200px;
	height: 30px;
	margin-left: 60%;
}

.supra-seccionCorporativa{
	background-color: grey;
}

.tituloCorporativo{
	margin-left: 5%;
	padding-left: 9%;
	background-color: white;
}
.seccionCorporativa {
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;

}

.secCorpDona{
	width: 50%;
	padding-left: 10%;
	background-color: white;

	
}

.botonCorp{
	width: 280px;
	height: 40px;
	border: 3px solid rgb(244, 206, 80);
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}

.secCorpForm {
	width: 40%;
	height: 300px;
	background-color: rgb(244, 206, 80);
	padding-top: 1%;
	border-radius: 40px;
	padding-left: 2%;
	margin-bottom: 5%;
	background-color: white;

}
/* PAGINA BLOG ------------------------------------------------------------------ */

/* PAGINA CONTACTO ------------------------------------------------------------------ */

.seccionContactanos {
	background-image: url(fondoCalle.webp);
}

.seccionAmarilla {
	width: 80%;
	height: 700px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(237, 206, 104, 0.81);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.divTexto {
	width: 40%;

}

.seccionAmarilla h4{
	font-size: 20px;
	font-weight: bold;
	color: #2f2f2e;
	margin-top: 30%;
}

.seccionAmarilla p{
	font-size: 18px;
	font-weight: bold;
	color: #2f2f2e;
	margin-top: 5%;
}


.formContactanos {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.formContactanos p{
	font-size: 18px;
	font-weight: bold;
	color: #2f2f2e;
	margin-bottom: 3%;

}

.formContactanos input{
	border-radius: 15%;
}

.formContactanos textarea{
	border-radius: 15%;
}

.parrafoForm {
	width: 40%;
}

#nombreYapellido {
	margin-left: 10%;
}

#mensaje {
	margin-left: 10%;
}

